
__pycache__/operations.cpython-312.pyc
__pycache__/order.cpython-312.pyc
school_suite/.DS_Store
school_suite/__pycache__/__init__.cpython-312.pyc
school_suite/__pycache__/operations.cpython-312.pyc
school_suite/__pycache__/order.cpython-312.pyc
school_suite/__pycache__/precedente_successivo.cpython-312.pyc
